:root {
  --background-color: hsl(39, 100%, 97%);
  --text-color: #0a0908;
  --text-hover-color: hsla(211, 36%, 23%, 1);
  --second-soft-color: hsl(21, 63%, 91%);
  --second-strong-color: hsl(22, 58%, 55%);
  --third-soft-color: hsl(0, 84%, 93%);
  --third-strong-color: hsl(2, 51%, 63%);
}

body {
  color: var(--text-color);
}
