.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  max-width: 70%;
  padding: 0 20px;
  font-family: Manrope, sans-serif;
  font-weight: 500;
}

.way {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  width: 15px;
  height: 15px;
  background: var(--gray-900);
  border-radius: 100%;
}

.line {
  height: 200px;
  width: 1px;
  background: var(--gray-900);
}

.exames {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 4rem;
}

.modal {
  background: var(--white);
  border-radius: 20px;
  width: 200px;
  padding: 2rem;
  margin-bottom: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 7px var(--gray-100);
}

.title {
  font-size: 1.5rem;
  font-family: Manrope, sans-serif;
  font-weight: 900;
  margin-bottom: 50px;
}

.orelha {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-600);
  color: var(--gray-900);
  padding: 50px 0;
  width: 100%;
  margin-bottom: 50px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.orelhaImg {
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 10px 20px 7px var(--gray-900);
}

.orelhaText {
  background: var(--white);
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  max-width: 20rem;
  min-height: 5rem;
  text-align: center;
  align-items: center;
  box-shadow: 0 10px 20px 7px var(--gray-900);

  @media (max-width: 768px) {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
