.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-direction: column;
}

.infantil {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 4rem;
}

.modal {
  background: var(--white);
  border-radius: 20px;
  max-width: 20rem;
  min-height: 5rem;
  padding: 15px;
  margin-bottom: 100px;
  text-align: center;
  align-items: center;
}

h1 {
  font-size: 1.4rem;
}
