:root {
  --gray-100: #efefec;
  --gray-300: #f0f3f5;
  --gray-600: #9eb5c1;
  --gray-900: #728d9a;

  --black: #242424;
  --white: #ffffff;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-image: linear-gradient(
    to bottom,
    var(--gray-300) 0%,
    var(--gray-600) 100%
  );
  background: var(--gray-100);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
